.right-part {
  padding: 42px 0 42px 33px;
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  background: #21242d;
  border: 1.76304px solid rgba(249, 249, 249, 0.1);
}

.settings {
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
}

.settings__notification-icon {
  width: 21px;
  height: 26px;
  padding: 11px 14px;
  background: rgba(249, 249, 249, 0.2);
  border-radius: 13.2228px;
}

.settings__profile {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.settings__name {
  font-style: normal;
  font-weight: 800;
  font-size: 14.1043px;
  line-height: 100%;
  color: #f9f9f9;
  align-self: center;
}

.sliders {
  margin-top: 54px;
}

.sliders__title {
  font-style: normal;
  font-weight: 800;
  font-size: 21.1564px;
  line-height: 100%;
  color: #f9f9f9;
  margin: 0;
}

.sliders__container {
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-right: 5%;
}

.sliders__see-more {
  display: flex;
  gap: 8px;
}

.sliders__see-more-title {
  font-style: normal;
  font-weight: 600;
  font-size: 13.2228px;
  line-height: 100%;
  margin: 0;
  text-align: center;
  align-self: center;

  color: rgba(249, 249, 249, 0.67);
}
